
.zippy {
  border: 1px solid #ccc;
  border-radius: 2px;

  &-heading {
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    user-select: none;
  }

  &-body {
    padding: 20px;
  }
}

.expanded {
  background: #f0f0ff;
}

.glyphicon {
  float: right;
}
